.title {
	padding: .5em;
	font-family: helvetica;
	font-size: 25pt;
	text-align: left;
}

.perameters {
	font-family: helvetica;
	text-align: left;
	font-size: 15pt;
}


.page_layout {
	position: absolute;
	top: 50px;
	left: 700px;
	height: 870px;
	width: 500px;
	background: transparent;
	outline-style: solid;
	outline-width: 3px;
	outline-color: black;
}

.letter_a {
	position: absolute;
	background: black;
}

.line01 {
	top: 400px;
	left: 100px;
	height: 4px;
	width: 150px;
}