.title {
	padding: 1.5em;
	font-family: helvetica;
	font-size: 25pt;
	text-align: left;
}

.perameters {
	font-family: helvetica;
	text-align: left;
	font-size: 15pt;
	padding-left: 4em;
}

.perameter {
	font-family: helvetica;
	text-align: left;
	font-size: 15pt;
	padding-left: 4em;
}

.p2 {
	font-family: helvetica;
	text-align: left;
	font-size: 15pt;
	padding-left: 4em;
}

.amplitude {
	font-family: helvetica;
	text-align: left;
	font-size: 15pt;
	padding-left: 4em;
}


.page_layout {
	position: absolute;
	top: 50px;
	left: 700px;
	height: 870px;
	width: 500px;
	background: transparent;
	outline-style: solid;
	outline-width: 3px;
	outline-color: black;
}

.letter_a {
	position: absolute;
	background: black;
}

.line01 {
	top: 330px;
	left: 90px;
	height: 2px;
	width: 150px;
}

.circle {
	position: absolute;
	background-color: black;
	top: 326px;
	left: 100px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}