.title {
	/*padding-top: .00001em;*/
	padding-left: .01em;
	font-family: oskar, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 48pt;
	text-align: left;
}

.letter_a {
	position: absolute;
	background: black;
}


.text {
	position: absolute;
	top: 30px;
	left: 700px;
	height: 950px;
	width: 550px;
}

#defaultCanvas0 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.25);
}

#posterText {
	font-size: 25pt;
	font-family: oskar, sans-serif;
	color: #ff366f;
	font-weight: 400;
	width: 300px;
	height: 23px;
}

#posterText:hover {
	cursor: text;
}

#amplitude:hover {
	cursor: pointer;
}

/* range editing taken from danielstern.ca/range.css/#/ */

input[type=range] {
  width: 300px;
  margin: 8.1px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #000000;
  border: 0;
  width: 100%;
  height: 3.8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -8.1px;
  width: 20px;
  height: 20px;
  background: #ff366f;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0a0a0a;
}
input[type=range]::-moz-range-track {
  background: #000000;
  border: 0;
  width: 100%;
  height: 3.8px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ff366f;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.1px 0;
  color: transparent;
  width: 100%;
  height: 3.8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0;
}
input[type=range]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #ff366f;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0a0a0a;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}



.slidecontainer {
	width: 300px;
}

.slider {
	width: 100%;
}

.slider:hover {
	cursor: pointer;
}

#keep {
width: 150px;
height: 30px;
background-color: #ff366f;
color: white;
border-radius: 20px;
padding: .4em;
border: 2px;
outline: #ff366f;
}

#keep:hover {
	cursor: pointer;
	background-color: white;
	color: #ff366f;
	font-size: 17px;
}



