.title {
	/*padding-top: .00001em;*/
	padding-left: .01em;
	font-family: oskar, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 48pt;
	text-align: left;
}

/*.text_2 {
	font-family: oskar, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	font-size: 25pt;
	padding-left: 3em;
	color: #ff366f;
}

.text_2:hover{
	cursor:text;
}
*/

/*.amplitude {
	position: absolute;
	font-family: oskar, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25pt;
	top: 60px;
}*/



.letter_a {
	position: absolute;
	background: black;
}

/*.line01 {
	background-color: black;
	top: 245px;
	left: 120px;
	height: 4px;
	width: 180px;
}

.circle {
	position: absolute;
	background-color: #ff366f;
	top: 239px;
	left: 125px;
	height: 17px;
	width: 17px;
	border-radius: 50%;
}

.circle:hover {
	cursor: pointer;
}*/

.text {
	position: absolute;
	top: 30px;
	left: 700px;
	height: 950px;
	width: 550px;
}

#defaultCanvas0 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#posterText {
	font-size: 25pt;
	font-family: oskar, sans-serif;
	color: #ff366f;
	font-weight: 400;
	width: 300px;
	height: 23px;
}

#posterText:hover {
	cursor: text;
}

#amplitude {
	background: #ff366f;

	/*#ff366f;*/
}

#amplitude:hover {
	cursor: pointer;
}






